.member {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    border: 3px solid #793251;
    padding: 0px 15px;
    border-radius: 30px;
    height: 200px;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 40%;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: -2px 3px #793251, inset 0px 0px 0px 3px;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    margin-bottom: 15px;
    background-color: #793251;
    color: #E1B351;
    cursor: url(images/pointer.png), pointer;
}

.member:hover {
    transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate(2px, -3px);
    box-shadow: -4px 6px 0px #793251, inset 0px 0px 0px 3px;
}

.member .skin {
    filter: drop-shadow(2px 0 0 #E1B351) 
        drop-shadow(0 2px 0 #E1B351)
        drop-shadow(-2px 0 0 #E1B351) 
        drop-shadow(0 -2px 0 #E1B351)
        drop-shadow(-2px 3px 0 #E1b351);
}

.memberinfo {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.memberinfo p {
    margin-block: 0;
}

.memberinfo img {
    image-rendering: pixelated;
    border-radius: 5px;
}

.memberinfo * {
    transition: 200ms;
}

.name {
    font-weight: 800;
    font-size: 25pt;
    margin-bottom: -10px
}

#razikof {
    background-image: url(/images/faust/stalk.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: calc(100% - 50px) 50%;
}

#debuggyo {
    background-image: url(/images/faust/rogue.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: calc(100% - 50px) 50%;
}

@media screen and (max-width: 600px) {   
    .name {
        font-size: 16pt;
    }
    .memberinfo p:not(.name) {
        font-size: 11pt;
    }
    .memberinfo img {
        height: 25px;
        width: 25px;
    }
}

@media screen and (min-width: 1000px) {   
    .members {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}