@font-face {
    font-family: debuggyfont;
    src: url(debuggy-font.otf);
}

html, body {
    background-color: #201717;
    font-family: Inter;
    cursor: url(images/cursor.png), auto;
    color: #E1B351
}

.header {
    background: transparent;
    height: 35px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: sticky;
}

.header img {
    transition: 200ms;
    cursor: url(images/pointer.png), pointer;
}

.discord, .github {
    margin-inline: 5px;
}

.discord:hover, .github:hover, .carthage:hover {
    transform: translate(2px, -3px);
    filter: drop-shadow(-2px 3px 0px #793251);
}

.container {
    margin: -8px;
    display: flex;
    flex-direction: column;
}

.header a {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 2rem;
    background-color: #E1B351;
    border: 3px solid #793251;
    transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);
    color: #793251;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    box-shadow: -2px 3px 0px #793251;
    transform: rotate(-3deg);
    font-family: debuggyfont;
    font-size: 30px;
    cursor: url(images/pointer.png), pointer;
}

.header a.currentpage {
    transform: translate(-2px, 3px) rotate(-3deg);
    box-shadow: none;
}

.header a:hover {
    transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate(2px, -3px) rotate(-3deg);
    box-shadow: -4px 6px 0px #793251;
}

.logo {
    margin-right: 10px;
}

.content {
    color: white;
    padding: 15px;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.discord {
    margin-left: 20px;
}

.carthage {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: url(images/pointer.png), pointer;
    transition: 200ms;
}

.carthage .title {
    margin-left: -12px;
    z-index: -1;
}

@media screen and (max-width: 400px) {
    .carthage {
        width: 32px;
    }
    .carthage .title {
        transform: translateX(-700px);
        visibility: hidden;
    }
}